.PortfolioPageWrap {
    background-color: #FDFDF6;
    width: 100%;
    height: 100%;
}

.PortfolioPageTechWrap {
    height: 91vh;
    width: 100vw;
    padding-top: 9vh;
}

.portfolioCardsWrap {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 85%;
    width: 100%;
    padding-left: 5px;
}

.PPTopWrap {
    height: 80px;
    padding-top: 23px;
    margin-bottom: 23px;
    margin-left: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.PPManageCoins {
    width: 64%;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}

.PPAddToPButton {
    width: 27%;
    height: 100%;
}

.PPAddBlockButtonAdd {
    border-radius: 13px;
    width: 125px;
    height: 55px;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 17px;
    background: #376A20;
    border-radius: 32px;
    border-radius: 32px;
}

.PPAddBlockButtonAdd:active {
    border-radius: 13px;
    width: 125px;
    height: 55px;
    color: black;
    border: none;
    cursor: pointer;
    font-size: 17px;
    background: #DBE4D1;
    border-radius: 32px;
    border: 1.5px solid #1F1F36;
}

.PPAddBlockButtonAddActive {
    border-radius: 13px;
    width: 125px;
    height: 55px;
    color: black;
    border: none;
    cursor: pointer;
    font-size: 17px;
    background: #DBE4D1;
    border-radius: 32px;
    border: 1px solid black;
}

.PPChangeVisibility {
    width: 45%;
    height: 100%;
}

.PPAddBlockButton {
    width: 50%;
    height: 100%;
}

.coinsCardWrap {
    width: 60vw;
    height: 66vh;
    margin-top: 2vh;
    z-index: 100;
}

.portfolioChartWrap {
    margin-top: 4vh;
    margin-left: 3vw;
    padding-top: 2%;
    display: flex;
}

.topInfoBlockCurrPrc {
    width: 90px;
    height: 35px;
}

.cardWrap {
    display: flex;
    margin-left: 40px;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.5);

}

.portfolioMainInfoWrap {
    display: flex;
}

.portfolioDataLoading {
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.portfolioChartWrapNotDisplayed {
    display: none;
}

@media screen and (max-width: 1300px) {
    .PortfolioPageWrap {
        width: 100%;
        height: 120%;
        max-height: 120%;
    }
    .PPTopWrap {
        margin-top: 10%;
    }
    .PPAddToPButton {
        width: 40%;
    }
    .portfolioMainInfoWrap {
        display: flex;
        flex-direction: column;
    }
    .coinsCardWrap {
        height: 300px;
        margin: 0 auto;
        width: 80%;
        padding-right: 30px;
    }
    .portfolioChartWrap {
        height: 500px;
        width: 100%;
        background-color: #FDFDF6;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 800px) {
    .PortfolioPageWrap {
        width: 120%;
        height: 120%;
        max-height: 120%;
        overflow-x: hidden;
        overflow-y: scroll;
    }
    .PPTopWrap {
        width: 80%;
        display: flex;
        margin: 0 auto;
        margin-top: 10%;
        justify-content: space-between;
        flex-direction: column;
    }
    .PPAddToPButton {
        width: 35%;
    }
    .PPManageCoins {
        padding-top: 10%;
        width: 100%;
    }
    .coinsCardWrap {
        margin-top: 280px;
        height: 100%;
        width: 100%;
        overflow-x: scroll;
        overflow-y: hidden;
    }
    .portfolioCardsWrap {
        width: 800px;
    }
    .cardWrap {
        width: 800px;
    }
    .portfolioChartWrap {

    }
}