.PortfolioPageChangeBlock {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.PortfolioPageChangeElement {
    width: 28%;
    height: 33%;
    padding: 2%;
    display: flex;
    justify-content: space-between;
    background-color: #EBEFE2;
    border-radius: 32px;
}

.PortfolioPageChangeElementText {
    color: black;
}

@media screen and (max-width: 800px) {
    .PortfolioPageChangeBlock {
        flex-direction: column;
    }
    .PortfolioPageChangeElement {
        margin-top: 5%;
        width: 100%;
        height: 50px;
        align-items: center;
        padding: 3% 5%;
    }
}