.selectWrap {
    display: flex;
    margin-left: 50px;
    margin-bottom: 30px;
    background: #376A20;
    border-radius: 32px;
    border: none;
    width: 90px;
    height: 30px;
    color: white;
    align-items: center;
    justify-content: center;
}

.selectElement {
    color: white;
    background: #376A20;
    width: 75px;
    height: 30px;
    border-radius: 32px;
    border: none;
    cursor: pointer;
}