.selectElement {
    color: white;
    background: #376A20;
    width: 75px;
    height: 30px;
    border-radius: 32px;
    border: none;
    cursor: pointer;
    margin-left: 50px;
    margin-bottom: 30px;
    text-align-last: center;
}